/* Importation de la police Comfortaa */
@font-face {
	font-family: comfortaa;
	src: url("../assets/fonts/comfortaa-regular.ttf")
}

/* Version Bold de Comfortaa */
@font-face {
	font-family: comfortaa-bold;
	src: url("../assets/fonts/comfortaa-bold.ttf");
}

html {
	font-family: comfortaa;
}

/* Style le header */
.header {
	font-family: comfortaa;
	overflow: hidden;
	background-color: lightgrey;
	padding: 20px 10px;
	border-radius: 20px;
}
	
/* Style les liens du header */
.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}
	
/* Style le lien du logo */
.header a.logo {
	font-size: 25px;
}
	
/* Style du lien au hover */
.header a:hover {
	background-color: rgb(196, 196, 196);
}

/* Style du lien actif */
.header a.active {
	background-color: black;
	color: white;
}

/* Les liens vers la droite */
.header-right {
	float: right;
}

.login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border: 2px solid grey;
	border-radius: 10px;

	text-align: center;
	padding: 15px;

	box-shadow: grey 3px 3px 5px;
}

h2 {
	font-family: comfortaa;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: lightgrey;
	text-align: center;

	font-size: 18px;
}

.footer a {
	text-decoration: none;
	color: black;
}

/* Responsiveness - Si l'écran fait 500 px ou moins, on stack les liens au dessus des autres */
@media screen and (max-width: 500px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}
	.header-right {
		float: none;
	}
}